header {
    width: 100%;
    h1 {
        text-align: center;
        font-size: 6.2vw;
    }
}

section {
    left: 30vw;
    position: absolute;
    h2 {
        font-size: 5.0vw;
    }
    input {
        font-size: 1.5vw;
    }
    form {
        .liste {
            margin: auto auto !important;
            display: inline-block;
            border-bottom: red 2px solid;
            .nodone {
                color: blue;
            }
        }
        .termined {
            margin: auto auto !important;
            display: inline-block;
            border-bottom: red 2px solid;
            .done {
                color: grey;
            }
        }
    }
}