body { background-color: #00a6d8; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; }

header h1 { font-family: 'FontAwesome'; text-align: center; font-size: 6.2vw; color: white; display: inline-block; }

section .separe { width: 100%; display: inline-block; }

section .separe input[type='submit']:nth-child(1) { float: left; margin: 5px; font-family: 'FontAwesome'; }

section .separe input[type='submit']:nth-child(2) { float: right; margin: 5px; font-family: 'FontAwesome'; }

section h2 { font-family: 'FontAwesome'; text-align: center; color: white; display: inline-block; }

section form { font-family: 'FontAwesome'; margin-top: 1vw; margin-bottom: 1vw; }

section input[type='submit'] { font-family: 'FontAwesome'; display: inline-block; position: relative; margin-bottom: 0.1vw; margin-top: 0.1vw; padding-right: 0.5vw; border: 3px solid white; border-radius: 10vw; color: white; background-color: #00a6d8; white-space: nowrap; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background-color .2s, padding-right .5s; transition: background-color .2s, padding-right .5s; }

section input[type='text'] { font-family: 'FontAwesome'; border: none; padding: 1px; margin: 0; outline: none; color: #00a6d8; font-weight: bold; -webkit-box-shadow: none; box-shadow: none; }

section input[type='text']:focus { border: none; padding: 1px; margin: 0; outline: none; color: #00a6d8; font-weight: bold; -webkit-box-shadow: none; box-shadow: none; }

section input[type='text']::-webkit-input-placeholder { outline: none; color: #00a6d8; font-weight: bold; }

section input[type='text']:-ms-input-placeholder { outline: none; color: #00a6d8; font-weight: bold; }

section input[type='text']::-ms-input-placeholder { outline: none; color: #00a6d8; font-weight: bold; }

section input[type='text']::placeholder { outline: none; color: #00a6d8; font-weight: bold; }

label { display: block; position: relative; text-align: right; padding-right: 0.5vw; border: 3px solid white; color: white; background-color: #00a6d8; white-space: nowrap; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; margin-bottom: 0.1vw; -webkit-transition: background-color .2s, padding-right .5s; transition: background-color .2s, padding-right .5s; }

label::before { content: ''; display: block; position: absolute; top: 1vw; bottom: 1vw; left: 1vw; border: 3px solid white; border-radius: 100px; -webkit-transition: background-color .2s, border-radius .2s; transition: background-color .2s, border-radius .2s; padding-right: 1.9vw; }

input:checked + label { display: block; background-color: white; border: 3px solid #00a6d8; color: #00a6d8; text-align: right; padding-right: 1.9vw; border-radius: 120px; }

input:checked + label::before { display: inline-block; background-color: black; border: 3px solid #00a6d8; color: #00a6d8; top: 1.1vw; left: 1.1vw; text-align: right; }

input[type='checkbox'] { opacity: 0.00; }
/*# sourceMappingURL=todolist.css.map */